<p>You've probably noticed these little stars <img src="{{ root }}static/starred0.gif" alt="unstarred"/> sitting next to <a href="{{ root }}releases">albums</a>. This post explains how they can be used to keep track of new releases.</p>

<p>When one of the artists you follow releases a new album, it gets automatically starred <img src="{{ root }}static/starred1.gif" alt="starred"/>. We do it so that you remember to check out the album. You can click on the star to un-star the album and clear the reminder.</p>

<p>Because starred albums are listed before the others, you can use stars to <a href="http://en.wikipedia.org/wiki/Bump_(Internet)">bump</a> older albums that you still need to explore. This can be handy if you missed some releases and want to check them up later.</p>
