<p>Web startups normally begin to blog way before they open their websites, but they say it's better late than never so here we go...</p>

<p>In this blog we will tell you about new features added to Muspy. We will also  use the blog as a knowledge base, explaining here not-so-obvious ways to use the website.</p>

<p>Charge your <a href="{{ root }}blog/feed">feed reader</a>, in the next post we will discuss those little stars that you see next to <a href="{{ root }}releases">the releases</a> and how they can be useful.</p>
