<h2>What is muspy?</h2>
<p>Muspy /<a href="http://en.wikipedia.org/wiki/International_Phonetic_Alphabet">mju&#x02D0;'spa&#x026A;</a>/ is a free service that notifies you when your favourite artists release new albums.</p>

<h2>How does it work?</h2>
<p>Each day muspy checks the <a href="http://musicbrainz.org/">MusicBrainz</a> database to see if the artists you follow have new releases, and notifies you if they do. Notifications are sent by email or via <a href="http://en.wikipedia.org/wiki/Web_feed">RSS</a>.</p>

<h2>Who is behind muspy?</h2>
<p>Muspy was created and is maintained by <a href="http://kojevnikov.com">Alexander Kojevnikov</a> and Olga Vasylevska. Following hundreds of obscure metal bands we are into is quite a daunting task, so we decided to do something about it. Hopefully you will find muspy useful too.</p>

<h2>Which tools do you use?</h2>
<p>Muspy is written in <a href="http://python.org/">Python</a> using the <a href="http://www.djangoproject.com/">Django</a> framework. We use <a href="http://www.gnu.org/software/emacs/">GNU/Emacs</a> for text editing, <a href="http://pinta-project.com/">Pinta</a> and <a href="http://www.inkscape.org/">Inkscape</a> for raster and vector graphics, and <a href="http://www.debugmode.com/wink/">Wink</a> for screencasting.</p>
<p>Muspy wouldn't exist without the <a href="http://musicbrainz.org/doc/Database">MusicBrainz database</a>. If you like muspy, consider <a href="http://musicbrainz.org/doc/HowToContribute">contributing</a> to the MusicBrainz project.</p>

<h2>Source code?</h2>
<p>Muspy is <a href="http://www.gnu.org/philosophy/free-sw.html">free</a> and open source software released unde GNU AGPL. The code is hosted on <a href="https://github.com/alexkay/muspy">GitHub</a>.</p>
