<h2>How do I start?</h2>
<p>Watch our video guide for a quick introduction.
The guide is available on the <a href="/">home page</a>.</p>

<h2>Where do you take the information on new releases?</h2>
<p>Muspy uses the excellent <a href="http://musicbrainz.org/">MusicBrainz</a>
database as its information source.</p>

<h2>You don't have artist X or release Y in your database!</h2>
<p>You can fix it yourself, MusicBrainz is an open database &ndash everyone can
contribute! Please read
<a href="http://musicbrainz.org/doc/HowEditingWorks">how editing works</a> on
the MusicBrainz website. Then add the
missing <a href="http://musicbrainz.org/edit/artist/add.html">artist</a>
or <a href="http://musicbrainz.org/edit/album/add.html">release</a>.</p>
