{% extends "base.html" %}
{% block title %}About Us{% endblock %}
{% block header %}About Us{% endblock %}
{% block content %}

<h2>What is muspy?</h2>
<p>muspy
/<a href="http://en.wikipedia.org/wiki/International_Phonetic_Alphabet">mju&#x02D0;'spa&#x026A;</a>/
is a free service that notifies you when your favourite artists release new
albums.</p>

<h2>How does it work?</h2>
<p>Each day muspy checks the <a href="http://musicbrainz.org/">MusicBrainz</a>
database to see if the artists you follow have new releases, and notifies you if
they do. Notifications are sent by email or
via <a href="http://en.wikipedia.org/wiki/Web_feed">RSS</a>.</p>

<h2>Who is behind muspy?</h2>
<p>muspy was created and is maintained
by <a href="http://kojevnikov.com">Alexander Kojevnikov</a> and Olga
Vasylevska. Following hundreds of obscure metal bands we are into is quite a
daunting task, so we decided to do something about it. Hopefully you will find
muspy useful too.</p>

<h2>Which tools do you use?</h2>
<p>muspy is written in <a href="http://python.org/">Python</a> using
the <a href="http://www.djangoproject.com/">Django</a> framework. It's served
by <a href="http://nginx.org/">nginx</a>
and <a href="http://projects.unbit.it/uwsgi/">uWSGI</a> running
under <a href="http://www.freebsd.org/">FreeBSD</a>.</p>
<p>muspy wouldn't exist without
the <a href="http://musicbrainz.org/doc/Database">MusicBrainz database</a>. If
you like muspy,
consider <a href="http://musicbrainz.org/doc/HowToContribute">contributing</a>
to the MusicBrainz project.</p>

<h2>Source code</h2>
<p>muspy is <a href="http://www.gnu.org/philosophy/free-sw.html">free</a> and
open source software released under GNU AGPL. The code is hosted
on <a href="https://github.com/alexkay/muspy">GitHub</a>.</p>

<h2>Privacy policy</h2>
<p>muspy requires a valid email address to send release notifications, to
receive them the email address must first be verified. If you use only the RSS
feed, you don't have to provide a valid email address. We will never sell or
share your email address with anyone, and will use it only for release
notifications. You can unsubscribe from receiving emails from muspy on the
settings page.</p>
<p>Your password is stored as
a <a href="http://en.wikipedia.org/wiki/Salt_(cryptography)">salted
hash</a>. The only way for us or for potential crackers to recover your password
is to use <a href="http://en.wikipedia.org/wiki/Brute-force_attack">brute
force</a>, so make sure you pick a strong password.</p>
<p>We use cookies to keep you signed in and to track your session. We may also
log your IP address to assist us in administering our site and to compile usage
statistics.</p>
<p>We encourage everyone to review
the <a href="https://github.com/alexkay/muspy">source code</a> of muspy and
to <a href="/contact">report</a> any privacy and security-related issues.</p>
{% endblock content %}
