{% extends "base.html" %}
{% block title %}{{ article.title }}{% if is_blog %} &ndash; Blog{% endif %}{% endblock %}
{% block header %}{{ article.title }}{% endblock %}
{% block content %}

{% include template_name %}

{% if is_blog %}

<div id="article_footer">
<p><a href="/{{ slug }}#disqus_thread">View Comments</a>. Posted by The Muspy Team on {{ article.date }}</p>
</div>

<div id="disqus_thread"></div><script type="text/javascript" src="http://disqus.com/forums/muspy/embed.js"></script><noscript><a href="http://muspy.disqus.com/?url=ref">View the discussion thread.</a></noscript>

<script type="text/javascript">
//<![CDATA[
(function() {
		var links = document.getElementsByTagName('a');
		var query = '?';
		for(var i = 0; i < links.length; i++) {
			if(links[i].href.indexOf('#disqus_thread') >= 0) {
				query += 'url' + i + '=' + encodeURIComponent(links[i].href) + '&';
			}
		}
		document.write('<script type="text/javascript" src="http://disqus.com/forums/muspy/get_num_replies.js' + query + '"></' + 'script>');
	})();
//]]>
</script>

{% endif %}

{% endblock content %}
