<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <title>{% if is_index %}muspy &ndash; Get Notified on New Album Release Dates{% else %}{% block title %}{% endblock %} &ndash; muspy{% endif %}</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
      	<meta http-equiv="Content-Style-Type" content="text/css"/>
        <link rel="stylesheet" href="/style.css" />
        <link rel="alternate" href="http://versia.com/category/muspy/feed/atom/" type="application/atom+xml" title="[muspy] Blog" />
        {% if user.is_authenticated %}<link rel="alternate" href="/feed?id={{ user.username }}" type="application/atom+xml" title="[muspy] New Releases" />{% endif %}
        {% block javascript %}{% endblock %}
    </head>
    <body>
        <div id="container">
            <div id="header">
                <div id="logo">
                    <a href="/"><img src="/logo.gif" alt="muspy logo"/></a>
                </div>
                <div id="menu">
                    <div id="menu_top">
                        <a href="/">Home</a>
                        &bull; <a href="/about">About</a>
                        &bull; <a href="/faq">FAQ</a>
                        &bull; <a href="/contact">Contact</a>
                        &bull; <a href="https://github.com/alexkay/muspy/tree/master/api">API</a>
                        &bull; <a href="https://github.com/alexkay/muspy">Code</a>
                        &bull; <a href="http://versia.com/category/muspy/feed/atom/"><img src="/feed.png" alt="RSS" title="Subscribe in a reader"/></a>
                        <a href="http://versia.com/category/muspy/">Blog</a>
                    </div>
                    <div id="menu_bottom_left">
                        {% if user.is_authenticated %}
                        <a href="/artists">Artists</a>
                        &bull; <a href="/feed?id={{ user.username }}"><img src="/feed.png" alt="RSS" title="Subscribe in a reader"/></a>
                        <a href="/releases">Releases</a>
                        {% else %}
<div class="share">
  <div class="facebook">
<iframe src="//www.facebook.com/plugins/like.php?href=http%3A%2F%2Fmuspy.com&amp;send=false&amp;layout=button_count&amp;width=450&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;font=arial&amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:100px; height:21px;" allowTransparency="true"></iframe>
  </div>
  <div class="google">
<div class="g-plusone" data-size="medium" data-href="http://muspy.com"></div>
<script type="text/javascript">
  window.___gcfg = {lang: 'en-GB'};

  (function() {
    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
    po.src = 'https://apis.google.com/js/plusone.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
  })();
</script>
  </div>
  <div class="twitter">
<a href="https://twitter.com/share" class="twitter-share-button" data-via="muspy">Tweet</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
  </div>
</div>
                        {% endif %}
                    </div>
                    <div id="menu_bottom_right">
                        {% if user.is_authenticated %}
                        <a href="/settings">Settings</a>
                        &bull; <a href="/signout">Sign out</a>
                        {% else %}
                        <a href="/signin">Sign in</a>
                        &bull; <a href="/signup">Sign up</a>
                        {% endif %}
                    </div>
                    <div>&nbsp;</div>
                </div>
            </div>
            {% if user.is_authenticated and not user.get_profile.email_activated %}
            <div class="message error">
                <p>Your account is awaiting email confirmation. Please click the 
                activation link in the email you were sent or 
                <a href="/activate">click here</a> to re-send the activation email. 
                Some email accounts may view the activation email as spam, 
                so be sure to turn off spam filters or check your spam folder for 
                the email. You can also enter a new email address on the 
                <a href="/settings">settings</a> page.</p>
            </div>
            {% endif %}
            {% if messages %}
            {% for message in messages %}
            <div class="message {{ message.tags }}">
              <p>{{ message }}</p>
            </div>
            {% endfor %}
            {% endif %}
            <div id="content">
                {% if not is_index %}
                <h1>{% block header %}{% endblock %}</h1>
                {% endif %}
                {% spaceless %}
                {% block content%}{% endblock %}
                {% endspaceless %}
            </div>
            <div id="footer">&nbsp;</div>
        </div>
    </body>
</html>
