{% extends "base.html" %}
{% block title %}Blog{% endblock %}
{% block header %}Blog{% endblock %}
{% block content %}


{% for post in posts %}

<h2><a href="/{{ post.slug }}">{{ post.title }}</a></h2>
{% include post.template_name %}
<div class="article_footer">
<p><a href="/{{ post.slug }}#disqus_thread">View Comments</a>. Posted by The muspy Team on {{ post.date }}</p>
</div>

{% endfor %}

<script type="text/javascript">
//<![CDATA[
(function() {
		var links = document.getElementsByTagName('a');
		var query = '?';
		for(var i = 0; i < links.length; i++) {
			if(links[i].href.indexOf('#disqus_thread') >= 0) {
				query += 'url' + i + '=' + encodeURIComponent(links[i].href) + '&';
			}
		}
		document.write('<script type="text/javascript" src="http://disqus.com/forums/muspy/get_num_replies.js' + query + '"></' + 'script>');
	})();
//]]>
</script>

{% endblock content %}
