{% extends "base.html" %}
{% block content %}

<iframe width="425" height="349" style="float:right;margin-left:1em;margin-bottom:1em" src="http://www.youtube.com/embed/CvLBmU5m080?hl=en&fs=1" frameborder="0" allowfullscreen></iframe>

<p>Welcome to muspy &ndash; <span class="marker">the easiest way to follow your favourite artists!</span></p>

<h2>What?</h2>
<p><span class="marker">muspy will notify you when
{% if user.is_authenticated %}<a href="/artists">{% endif %}artists you like{% if user.is_authenticated %}</a>{% endif %}
release
{% if user.is_authenticated %}<a href="/releases">{% endif %}new albums{% if user.is_authenticated %}</a>{% endif %}</span>.</p>
<h2>Why?</h2>
<p>Have you ever missed an album of one of your favourite artists only to
 discover it by accident weeks after the release? Do you spend a lot of time on
official websites looking for release announcements? <span class="marker">With muspy you will save time and won't miss any releases</span>!</p>
<h2>How?</h2>
{% if not user.is_authenticated %}
<p>You need to <a href="/signup">create an account</a> to use muspy.
Come on, don't be lazy! <span class="marker">It's free and only
<a href="/signup">takes a minute</a>!</span> If you already have an account,
<a href="/signin">click here</a> to sign in.</p>
{% endif %}
<p>After you sign in, you may
{% if user.is_authenticated %}<a href="/artists">{% endif %}add the artists{% if user.is_authenticated %}</a>{% endif %}
you want to follow. You can add them one-by-one, copy the list of artists from your Facebook profile, or import the top bands from your Last.fm profile.</p>
<p>When one of the artists releases a new CD,
<span class="marker">you will receive a short email notification</span>
with the album name and the release date. You can also see the
{% if user.is_authenticated %}<a href="/releases">{% endif %}new releases{% if user.is_authenticated %}</a>{% endif %}
on the website sorted in the chronological order, or
<span class="marker">subscribe to the {% if user.is_authenticated %}<a href="/feed?id={{ user.username }}">{% endif %}rss feed{% if user.is_authenticated %}</a>{% endif %}</span>
and receive release alerts using the feed aggregator of your choice.</p>

<p>
<div class="share">
  <div class="facebook">
<iframe src="//www.facebook.com/plugins/like.php?href=http%3A%2F%2Fmuspy.com&amp;send=false&amp;layout=button_count&amp;width=450&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;font=arial&amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:100px; height:21px;" allowTransparency="true"></iframe>
  </div>
  <div class="google">
<div class="g-plusone" data-size="medium" data-href="http://muspy.com"></div>
<script type="text/javascript">
  window.___gcfg = {lang: 'en-GB'};

  (function() {
    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
    po.src = 'https://apis.google.com/js/plusone.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
  })();
</script>
  </div>
  <div class="twitter">
<a href="https://twitter.com/share" class="twitter-share-button" data-via="muspy">Tweet</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
  </div>
</div>
</p>

<h2>Latest Releases</h2>
<table id="releases">
{% for release in releases %}
    {% include "_release.html" %}
{% endfor %}
</table>
<p><a href="/calendar">More &raquo;</a></p>

{% endblock content %}
