{% extends "base.html" %}
{% block title %}Reset password{% endblock %}
{% block header %}Reset password{% endblock %}
{% block content %}

{% if resetting %}

{% if password %}
<p>Your new password is <strong>{{ password }}</strong>. Click
<a href="/settings">here</a> to change it.</p>
{% else %}
<p>Invalid code, your password was not reset.</p>
{% endif %}

{% else %}

<p>Forgot your password? Enter below your login email.
We will send you an email with a link to reset your password.</p>

<form method="post" action="/reset">
{% csrf_token %}
<table id="reset">
{{ form.as_table }}
<tr>
    <th>&nbsp;</th>
    <td><input type="submit" value="Reset password" /></td>
</tr>
</table>
</form>

{% endif %}

{% endblock content %}
