<p>Hi,</p>

<p>{{ releases|length|pluralize:"A new,New" }} release{{ releases|length|pluralize }} {{ releases|length|pluralize:"is,are" }} available:</p>

{% for release in releases %}
    <p>{% if release.date_str %}{{ release.date_str }}: {% endif %}<a href="{{ root }}artist/{{ release.artist.mbid }}"><strong>{{ release.artist.name }}</strong></a> &ndash; <strong>{{ release.name }}</strong>{% if release.type %} ({{ release.type }}){% endif %}<br/>
    <strong>Amazon:</strong>&#160;<a href="http://www.amazon.ca/gp/search?ie=UTF8&amp;keywords={{ release.artist_name|urlencode }}%20{{ release.title|urlencode }}&amp;tag=muspy08-20&amp;index=blended&amp;linkCode=ur2&amp;camp=15121&amp;creative=330641">Canada</a> &bull; 
<a href="http://www.amazon.de/gp/search?ie=UTF8&amp;keywords={{ release.artist_name|urlencode }}%20{{ release.title|urlencode }}&amp;tag=muspy0c-21&amp;index=blended&amp;linkCode=ur2&amp;camp=1638&amp;creative=6742">Deutschland</a> &bull;
<a href="http://www.amazon.fr/gp/search?ie=UTF8&amp;keywords={{ release.artist_name|urlencode }}%20{{ release.title|urlencode }}&amp;tag=muspy09-21&amp;index=blended&amp;linkCode=ur2&amp;camp=1642&amp;creative=6746">France</a> &bull; 
<a href="http://www.amazon.co.uk/gp/search?ie=UTF8&amp;keywords={{ release.artist_name|urlencode }}%20{{ release.title|urlencode }}&amp;tag=muspy-21&amp;index=blended&amp;linkCode=ur2&amp;camp=1634&amp;creative=6738">United Kingdom</a> &bull; 
<a href="http://www.amazon.com/gp/search?ie=UTF8&amp;keywords={{ release.artist_name|urlencode }}%20{{ release.title|urlencode }}&amp;tag=muspy-20&amp;index=blended&amp;linkCode=ur2&amp;camp=1789&amp;creative=9325">United States</a>
    </p>
{% endfor %}

<p>Visit <a href="{{ root }}releases">muspy</a> for more information.</p>

<p>Cheers,<br/>
The muspy Team</p>
